@using SportConnect.Models
@model Sport
@{
    <h1>Add category</h1>
    <form method="post">

        <div class="form-floating mb-3">
            <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="име" />
            <label asp-for="@Model.Name">Име</label>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="@Model.Description" class="form-control" aria-required="true" placeholder="description" />
            <label asp-for="@Model.Description">description</label>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="add" />
    </form>
}