@using SportConnect.Models
@model List<Sport>

@if (!Model.Any())
{
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 78vh; font-size: 0.9rem;">
        <div class="container p-2 border rounded" style="max-width: 15%; padding: 0.5rem;">
            <h1 class="text-center mb-3" style="font-size: 1.3rem;">Няма спортове</h1>

            <div class="d-flex justify-content-center mt-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="font-size: 1rem; margin-right: 10px;">Назад</a>
                <a asp-action="AddSport" asp-controller="Sport" class="btn btn-success" style="font-size: 1rem;">Добави</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 78vh; font-size: 0.9rem;">
        <div class="container p-2 border rounded" style="max-width: 90%; padding: 0.5rem;">
           
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="m-0" style="font-size: 1.3rem;">Всички спортове</h1>
                <a asp-action="AddSport" asp-controller="Sport" class="btn btn-success" style="font-size: 1rem; padding: 0.75rem 1.5rem;">
                    Добави
                </a>
            </div>
            <div class="table-container flex-grow-1" style="overflow-y: auto; max-height: 400px;">
                <table class="table table-striped table-hover text-center align-middle" style="font-size: 0.8rem;">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 2;">
                        <tr>
                            <th>#</th>
                            <th>Име</th>
                            <th>Описание</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td class="text-truncate" style="max-width: 200px;">@item.Description</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Sport" asp-action="EditSport" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-pen-fill">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                            </svg>
                                        </a>
                                        <a asp-controller="Sport" asp-action="DeleteSport" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-trash-fill">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                            </svg>
                                        </a>
                                        <a asp-controller="Tournament" asp-action="SportTournaments" asp-route-id="@item.Id" class="btn btn-info btn-sm font-weight-bold">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-info-circle">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="font-size: 1rem;">Назад</a>
            </div>
        </div>
    </div>
}