@using SportConnect.Web.Models
@model SportDeletionViewModel
@{
    <h1>Изтрий спорт</h1>
    <form method="post">

        <div class="form-floating mb-3">
            <input readonly asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Име" />
            <label asp-for="@Model.Name">Име</label>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input readonly asp-for="@Model.Description" class="form-control" aria-required="true" placeholder="Описание" />
            <label asp-for="@Model.Description">Описание</label>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>

        <h2>Турнири</h2>
        <table class="table" style="table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 10%;"> <!-- Fixed width for ID -->
                <col style="width: 15%;"> <!-- Name column -->
                <col style="width: 10%;"> <!-- Name column -->
                <col style="width: 15%;"> <!-- Price column -->
                <col style="width: 10%;"> <!-- Button column -->
                <col style="width: 10%;"> <!-- Fixed width for ID -->
                <col style="width: 20%;"> <!-- Name column -->
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Име</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата на провеждане</th>
                    <th scope="col">Краен срок</th>
                    <th scope="col">Организатор</th>
                    <th scope="col">Локация</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Tournaments)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@item.Id</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Name</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Description</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Date</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Deadline</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Organizer.FullName</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Location</td>
                    </tr>
                }
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary" value="Изтрий" />
    </form>
    <a asp-action="AllSports" class="btn btn-primary" asp-asp-controller="Sport">Назад</a>
}