@using SportConnect.Models
@model TournamentFilterViewModel

@if (!Model.Tournaments.Any())

{
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 78vh; font-size: 0.9rem;">
        <div class="container p-2 border rounded" style="max-width: 90%; padding: 0.5rem;">
            <form method="post" class="p-3 border rounded bg-light">
                <h1 class="text-center mb-3" style="font-size: 1.3rem;">Търсене</h1>
                <div class="row g-3 align-items-center">
                    <div class="col-md-6">
                        <label for="SportId" class="form-label" style="font-size: 0.8rem;">Спорт</label>
                        <select asp-for="SportId" asp-items="Model.Sports" class="form-control" style="font-size: 0.8rem;">
                            <option value="">Избери спорт</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="Date" class="form-label" style="font-size: 0.8rem;">Дата на провеждане</label>
                        <input type="date" asp-for="Date" class="form-control" style="font-size: 0.8rem;">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-4" style="font-size: 0.8rem;">Търси</button>
                </div>
            </form>
            <h1 class="text-center mb-3" style="font-size: 1.3rem;">Няма турнири</h1>

            <div class="d-flex justify-content-center mt-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="font-size: 1rem; margin-right: 10px;">Назад</a>
                <a asp-action="AddTournamentMy" asp-controller="Tournament" class="btn btn-success" style="font-size: 1rem;">Добави</a>
            </div>
        </div>
    </div>
}

else

{
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 78vh; font-size: 0.9rem;">
        <div class="container p-2 border rounded" style="max-width: 90%; padding: 0.5rem;">
            <div class="mb-3">
                <form method="post" class="p-3 border rounded bg-light">
                    <h1 class="text-center mb-3" style="font-size: 1.3rem;">Търсене</h1>
                    <div class="row g-3 align-items-center">
                        <div class="col-md-6">
                            <label for="SportId" class="form-label" style="font-size: 0.8rem;">Спорт</label>
                            <select asp-for="SportId" asp-items="Model.Sports" class="form-control" style="font-size: 0.8rem;">
                                <option value="">Избери спорт</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="Date" class="form-label" style="font-size: 0.8rem;">Дата на провеждане</label>
                            <input type="date" asp-for="Date" class="form-control" style="font-size: 0.8rem;">
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary px-4" style="font-size: 0.8rem;">Търси</button>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="m-0" style="font-size: 1.3rem;">Всички турнири</h1>
                <a asp-controller="Tournament" asp-action="AddTournamentMy" class="btn btn-success" style="font-size: 1rem; padding: 0.75rem 1.5rem;">
                    Добави
                </a>
            </div>

            <div class="table-container flex-grow-1" style="overflow-y: auto; max-height: 230px;">
                <table class="table table-striped table-hover text-center align-middle" style="font-size: 0.8rem;">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 2;">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Име</th>
                            <th class="text-center">Описание</th>
                            <th class="text-center">Дата</th>
                            <th class="text-center">Краен срок</th>
                            <th class="text-center">Локация</th>
                            <th class="text-center">Спорт</th>
                            <th class="text-center">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tournaments)

                        {
                            <tr>
                                <td class="align-middle">@item.Id</td>
                                <td class="align-middle">@item.Name</td>
                                <td class="align-middle text-truncate" style="max-width: 200px;">@item.Description</td>
                                <td class="align-middle">@item.Date</td>
                                <td class="align-middle">@item.Deadline</td>
                                <td class="align-middle">@item.Location</td>
                                <td class="align-middle">@item.Sport.Name</td>
                                <td class="align-middle text-nowrap">
                                    <div class="btn-group">
                                        <a asp-controller="Tournament" asp-action="EditTournamentUser" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-pen-fill">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                            </svg>
                                        </a>
                                        <a asp-controller="Tournament" asp-action="DeleteTournamentUser" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-trash-fill">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                            </svg>
                                        </a>
                                        <a asp-controller="Tournament" asp-action="TournamentDetailsUser" asp-route-id="@item.Id" class="btn btn-info btn-sm font-weight-bold">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-info-circle">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0=" />
                                            </svg>
                                        </a>
                                        @if (Model.UserParticipations.Any(p => p.TournamentId == item.Id && p.ParticipantId == Model.UserId))

                                        {
                                            <a asp-controller="Participation" asp-action="DeleteParticipationTournamentUser" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                                Откажи се
                                            </a>
                                        }
                                        else

                                        {
                                            <a asp-controller="Participation" asp-action="AddParticipationUser" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                                                Участвай
                                            </a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="font-size: 1rem;">Назад</a>
            </div>
        </div>
    </div>
} 