@using SportConnect.Models
@model List<TournamentViewModel>
@{
    <h1>All tournaments</h1>

    @if (Model.Count == 0)
    {
        <h2>No tournaments in the system</h2>
    }
    else
    {
        foreach (var item in @Model)
        {
            <table class="table" style="table-layout: fixed; width: 100%;">
                <colgroup>
                    <col style="width: 10%;"> <!-- Fixed width for ID -->
                    <col style="width: 15%;"> <!-- Name column -->
                    <col style="width: 10%;"> <!-- Name column -->
                    <col style="width: 15%;"> <!-- Price column -->
                    <col style="width: 10%;"> <!-- Button column -->
                    <col style="width: 10%;"> <!-- Fixed width for ID -->
                    <col style="width: 10%;"> <!-- Name column -->
                    <col style="width: 10%;"> <!-- Price column -->
                    <col style="width: 10%;"> <!-- Button column -->
                </colgroup>
                <tbody>

                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@item.Id</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Name</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Description</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Date</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Deadline</td>
                        <td style="text-align: right; vertical-align: middle;">@item.OrganizerName</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Location</td>
                        <td style="text-align: center; vertical-align: middle;">@item.SportName</td>
                        <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                            <div class="btn-group" role="group">
                                <a asp-controller="Tournament" asp-action="EditTournament" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Tournament" asp-action="DeleteTournament" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        }
    }
    <a asp-controller="Tournament" asp-action="AddTournament" class="btn btn-primary">Add</a>
}