@using SportConnect.Models
@model TournamentFilterViewModel
@{
    <h1>Filter</h1>
    <form method="post">
        <div class="form-group">
            <label for="SportId">sport</label>
            <select asp-for="SportId" asp-items="Model.Sports" class="form-control">
                <option value="">sport</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Date">date</label>
            <input type="datetime-local" asp-for="Date" class="form-control">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Apply filter</button>
    </form>

    <h1>All tournaments</h1>

    @if (Model.Tournaments.Count == 0)
    {
        <h2>No tournaments in the system</h2>
    }
    else
    {
        foreach (var item in @Model.Tournaments)
        {
            <table class="table" style="table-layout: fixed; width: 100%;">
                <colgroup>
                    <col style="width: 10%;"> <!-- Fixed width for ID -->
                    <col style="width: 15%;"> <!-- Name column -->
                    <col style="width: 10%;"> <!-- Name column -->
                    <col style="width: 15%;"> <!-- Price column -->
                    <col style="width: 10%;"> <!-- Button column -->
                    <col style="width: 10%;"> <!-- Fixed width for ID -->
                    <col style="width: 10%;"> <!-- Name column -->
                    <col style="width: 10%;"> <!-- Price column -->
                    <col style="width: 10%;"> <!-- Button column -->
                </colgroup>
                <tbody>

                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@item.Id</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Name</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Description</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Date</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Deadline</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Organizer.FullName</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Location</td>
                        <td style="text-align: center; vertical-align: middle;">@item.Sport.Name</td>
                        <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                            <div class="btn-group" role="group">
                                <a asp-controller="Tournament" asp-action="EditTournament" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Tournament" asp-action="DeleteTournament" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                                <a asp-controller="Participation" asp-action="AddParticipation" asp-route-id="@item.Id" class="btn btn-primary">Participate</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        }
    }
    <a asp-controller="Tournament" asp-action="AddTournament" class="btn btn-primary">Add</a>
}