@using SportConnect.Models
@model List<SportConnectUser>
@{
    <h1>Всички потребители</h1>

    @if (Model.Count == 0)
    {
        <h2>Няма потребители в системата</h2>
    }
    else
    {
            <table class="table" style="table-layout: fixed; width: 100%;">
                <colgroup>
                    <col style="width: 10%;"> <!-- Fixed width for ID -->
                    <col style="width: 10%;"> <!-- Name column -->
                    <col style="width: 10%;"> <!-- Price column -->
                    <col style="width: 10%;"> <!-- Button column -->
                    <col style="width: 15%;"> <!-- Fixed width for ID -->
                    <col style="width: 15%;"> <!-- Name column -->
                    <col style="width: 15%;"> <!-- Price column -->
                    <col style="width: 15%;"> <!-- Button column -->
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Потребителско име</th>
                        <th scope="col">Пълно име</th>
                        <th scope="col">Възраст</th>
                        <th scope="col">Локация</th>
                        <th scope="col">Телефонен номер</th>
                        <th scope="col">Имейл</th>
                        <th scope="col">Бутони</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@item.Id</td>
                        <td style="text-align: left; vertical-align: middle;">@item.UserName</td>
                        <td style="text-align: right; vertical-align: middle;">@item.FullName</td>
                        <td style="text-align: left; vertical-align: middle;">@item.Age</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Location</td>
                        <td style="text-align: left; vertical-align: middle;">@item.PhoneNumber</td>
                        <td style="text-align: right; vertical-align: middle;">@item.Email</td>
                        <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                            <div class="btn-group" role="group">
                                <a asp-controller="User" asp-action="EditUserAdmin" asp-route-id="@item.Id" class="btn btn-primary">Редактирай</a>
                                <a asp-controller="User" asp-action="DeleteIdUser" asp-route-id="@item.Id" class="btn btn-primary">Изтрий</a>
                                <a asp-controller="User" asp-action="UserDetails" asp-route-id="@item.Id" class="btn btn-primary">Информация</a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    }
}