@using SportConnect.Models
@model SportConnectUserViewModel
@{
    <h1>Промени профил</h1>
    <form method="post">

        <div class="form-floating mb-3">
            <input asp-for="@Model.UserName" class="form-control" aria-required="true" placeholder="user име" />
            <label asp-for="@Model.UserName">Потребителско име</label>
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="@Model.FirstName" class="form-control" aria-required="true" placeholder="Вашето име" />
            <label asp-for="@Model.FirstName">Име</label>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="@Model.LastName" class="form-control" aria-required="true" placeholder="Вашата фамилия" />
            <label asp-for="@Model.LastName">Фамилия</label>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="number" asp-for="@Model.Age" class="form-control" aria-required="true" placeholder="Age" />
            <label asp-for="@Model.Age">Възраст</label>
            <span asp-validation-for="@Model.Age" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="@Model.Location" class="form-control" aria-required="true" placeholder="Location" />
            <label asp-for="@Model.Location">Локация</label>
            <span asp-validation-for="@Model.Location" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="@Model.Email">Имейл</label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="tel" asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" placeholder="0888 123 456" />
            <label asp-for="@Model.PhoneNumber">Телефонен номер</label>
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Промени" />
    </form>
    <a asp-action="PersonalData" class="btn btn-primary" asp-controller="User">Назад</a>
}