@using SportConnect.Models
@model List<ParticipationViewModel>
@{
    <h1>All participations</h1>

    @if (Model.Count == 0)
    {
        <h2>No participations in the system</h2>
        <a asp-controller="Tournament" asp-action="AllTournaments" class="btn btn-primary">Tournaments</a>
    }
    else
    {
        foreach (var item in @Model)
        {
            <table class="table" style="table-layout: fixed; width: 100%;">
                <colgroup>
                    <col style="width: 10%;"> <!-- Fixed width for ID -->
                    <col style="width: 20%;"> <!-- Name column -->
                    <col style="width: 10%;"> <!-- Price column -->
                    <col style="width: 20%;"> <!-- Button column -->
                    <col style="width: 20%;"> <!-- Price column -->
                    <col style="width: 20%;"> <!-- Button column -->
                </colgroup>
                <tbody>

                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@item.Id</td>
                        <td style="text-align: left; vertical-align: middle;">@item.ParticipantName</td>
                        <td style="text-align: right; vertical-align: middle;">@item.RegistrationDate</td>
                        <td style="text-align: right; vertical-align: middle;">@item.TournamentName</td>
                        <td style="text-align: right; vertical-align: middle;">@item.TournamentDate</td>
                        <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                            <div class="btn-group" role="group">
                                <a asp-controller="Participation" asp-action="DeleteParticipation" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        }
    }
}