@using SportConnect.Models
@model List<ParticipationViewModel>
@{
    <h1>Вашите участия</h1>

    @if (Model.Count == 0)
    {
        <h2>Нямате участия</h2>
    }
    else
    {
        <table class="table" style="table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 10%;"> <!-- Fixed width for ID -->
                <col style="width: 20%;"> <!-- Name column -->
                <col style="width: 10%;"> <!-- Name column -->
                <col style="width: 20%;"> <!-- Price column -->
                <col style="width: 10%;"> <!-- Button column -->
                <col style="width: 10%;"> <!-- Fixed width for ID -->
                <col style="width: 20%;"> <!-- Fixed width for ID -->
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата на регистрация</th>
                    <th scope="col">Турнир</th>
                    <th scope="col">Спорт</th>
                    <th scope="col">Дата на провеждане</th>
                    <th scope="col">Краен срок</th>
                    <th scope="col">Бутони</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@item.Id</td>
                        <td style="text-align: right; vertical-align: middle;">@item.RegistrationDate</td>
                        <td style="text-align: right; vertical-align: middle;">@item.TournamentName</td>
                        <td style="text-align: right; vertical-align: middle;">@item.TournamentSport</td>
                        <td style="text-align: right; vertical-align: middle;">@item.TournamentDate</td>
                        <td style="text-align: right; vertical-align: middle;">@item.TournamentDeadLine</td>
                        <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                            <div class="btn-group" role="group">
                                <a asp-controller="Participation" asp-action="DeleteParticipationUser" asp-route-id="@item.Id" class="btn btn-primary">Изтрий</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <a asp-controller="Tournament" asp-action="AllTournaments" class="btn btn-primary">Турнири</a>
}